
body {
	font-family: 'Raleway', sans-serif !important;
}

.grad {
	background: linear-gradient(to right, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
    padding: 2em 0;
}
.vh100{
}

.container-flex-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.container-flex-column2{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2em;
}
.food{
	background-image: url('../assets/img/food.gif');
	background-size: cover;
	background-position: center center;

}
.text-color{
	/* color: #F08123; */
	color:#fff;
}
.font-style{
  text-shadow: 2px 2px 8px rgba(150, 150, 150, 1);
  color: #fff;
  font-size: 4em;
}
.box{
	width: 80wh;
}
.title-font{
	font-family: 'Russo One', sans-serif;
}
.no-padding{
	padding: .1em !important;
	margin:0  !important;
}
.btn-style ,.btn-style2{
   transform: translateY(15em);
}
/* Modal style */
.title-style{
  font-weight: bold;
  text-transform: uppercase;
}
.modal-header{
	background: linear-gradient(to right, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
}
.btn-selector{
	background-color: #F08123; 
	border-color:#fff;
	color: #fff;
}
.center{
	vertical-align:  middle;
}
.suggested{
	background-image: url("../assets/img/parrilla.jpeg");
	height: 38vh;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.display{
	display: none;
}
.miraflores-1{
	background-image: url("../assets/img/pescados.capitales.jpg");
	height: 38vh;
	background-size: cover;
	background-repeat: no-repeat;
}
.miraflores-2{
	background-image: url("../assets/img/parrilla.jpeg");
	height: 38vh;
	background-size: cover;
	background-repeat: no-repeat;
}
.isidro-1{
	background-image: url("../assets/img/aromas-peruanos.jpg");
	height: 38vh;
	background-size: cover;
	background-repeat: no-repeat;
}
.isidro-2{
	background-image: url("../assets/img/300.jpg");
	height: 38vh;
	background-size: cover;
	background-repeat: no-repeat;
}
.surco-1{
	background-image: url("../assets/img/ceviche.jpg");
	height: 38vh;
	background-size: cover;
	background-repeat: no-repeat;
}
.surco-2{
	background-image: url("../assets/img/il-monte.jpg");
	height: 38vh;
	background-size: cover;
	background-repeat: no-repeat;
}
